In [2]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.1.0-py2.py3-none-any.whl.metadata (9.0 kB)
Downloading kafka_python-2.1.0-py2.py3-none-any.whl (274 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 274.3/274.3 kB 4.5 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.1.0

In [3]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps, loads
import json

In [5]:
producer = KafkaProducer(bootstrap_servers=['publicIP:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [11]:
producer.send('stock', value={'hello':'world'})

In [13]:
df = pd.read_csv("indexProcessed.csv")

In [15]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [25]:
while True:
  dict_stock = df.sample(1).to_dict(orient="records")[0]
  producer.send('stock', value=dict_stock)
  sleep(1)

KeyboardInterrupt:

In [23]:
producer.flush()